p{
    background-color: lavender;font-style: oblique;
}
table{
    background-color: #ff80c0;font-family:Verdana, Geneva, Tahoma, sans-serif;
}
th{
    color: chartreuse;
}
tr{
    color: aquamarine;
}
h1{
    color:crimson;
}